# Dependências
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Arquivos de ambiente
.env
.env.local
.env.*.local

# Cache do Node
.pnpm-store/
.npm/
.cache/
.tmp/

# Compilações / builds
dist/
build/
coverage/

# Editor/IDE
.vscode/
.idea/
*.swp

# Sistema
.DS_Store
Thumbs.db
